{% extends 'presentation/base.html' %}

{% load static %}

{% block self-style %}
{% endblock %}

{% block self-script %}
{% endblock %}

{% block header %}{{ course.name }}{% endblock %}

{% block nav %}
<!-- Menu item: Home -->
<li>
  <a href="#" id="home">
    <span class="glyphicon glyphicon-home"></span>Home
  </a>
</li>

<!-- Menu item: Courses -->
<li>
  <a class="link" href="/{{ userID }}/courses" id="courses">
    <span class="glyphicon glyphicon-education"></span>Courses
  </a>
</li>

<!-- Menu item: Students -->
<li>
  <a class="link" href="/{{ userID }}/students" id="students">
    <span class="glyphicon glyphicon-user"></span>Students
  </a>
</li>

<!-- Logout -->
<div class="menu-bottom">
  <li>
    <a href="/logout/" class="link" id="logout">
      <span class="glyphicon glyphicon-log-out"></span>Logout
    </a>
  </li>
</div>
{% endblock %}

{% block main-content %}
  <div>
    <h4 class="info-text page-header">Overall</h4>
  </div>
  <h3>Course average: {{ course.average }}%</h3>
  <div class="page-header">
    <img src="{% static imgURL %}" />
  </div>
  {% if studentList %}
    <div>
      <h4 class="info-text page-header">Students</h4>
    </div>
    {% for student, risk, grades in studentList %}
      <a class="link"
         href="/{{ userID }}/student/?studentID={{ student.id }}&courseID={{ course.id }}">
        <div class="jumbotron student" id="{{ student.id }}">
          <p class="student-name">{{ student.name }}</p>
          <p class="student-desc">Risk: {{ risk }}</p>
          <p class="student-desc">
            Grades:
            {% for grade in grades %}
              {{ grade }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
          <div class="risk">{{ risk }}</div>
        </div>
      </a>
    {% endfor %}
    <div class="scroll-over"></div>
  {% else %}
    <div class="container-fluid centered text-center">
      <h3 class="info-text jumbotron">
        There's no available analysis result yet.
      </h3>
    </div>
  {% endif %}
{% endblock %}

{% block extra-modal %}{% endblock %}
