{% extends 'presentation/base.html' %}

{% load static %}

{% block self-style %}
<link rel="stylesheet/less" href="{% static "presentation/index.less" %}" media="all" type="text/css"/>
{% endblock %}

{% block self-script %}
<script src="{% static "js/presentation/index.js" %}" charset="utf-8"></script>
{% endblock %}

{% block header %}Home{% endblock %}

{% block nav %}
<!-- Menu item: Home -->
<li>
  <a class="active" href="#" id="home">
    <span class="glyphicon glyphicon-home"></span>Home
  </a>
</li>

<!-- Logout -->
<div class="menu-bottom">
  <li>
    <a href="/logout/" class="link" id="logout">
      <span class="glyphicon glyphicon-log-out"></span>Logout
    </a>
  </li>
</div>
{% endblock %}

{% block main-content %}
  {% if courseList %}
    <div>
      <h4 class="info-text page-header">Courses</h4>
    </div>
    {% for course in courseList %}
      <a href="#">
        <div class="jumbotron course" id="{{ course.id }}">
          <p class="course-name">{{ course.name }}</p>
          <p class="course-desc">Average score: {{ course.average }}</p>
        </div>
      </a>
    {% endfor %}
    <div>
      <h4 class="info-text page-header">Students</h4>
    </div>
    {% for student in studentList %}
      <a href="#">
        <div class="jumbotron student" id="{{ student.id }}">
          <p class="student-name">{{ student.name }}</p>
          <p class="student-desc">Risk: {{ student.risk }}</p>
        </div>
      </a>
    {% endfor %}
    <div class="scroll-over"></div>
  {% else %}
    <div class="container-fluid centered text-center">
      <h3 class="info-text jumbotron">
        You don't have any available analysis result yet.
      </h3>
    </div>
  {% endif %}
{% endblock %}

{% block extra-modal %}{% endblock %}
