{% extends 'presentation/base.html' %}

{% load static %}

{% block self-style %}
<link rel="stylesheet/less" href="{% static "presentation/index.less" %}" media="all" type="text/css"/>
{% endblock %}

{% block self-script %}
<script src="{% static "js/presentation/index.js" %}" charset="utf-8"></script>
{% endblock %}

{% block header %}Home{% endblock %}

{% block nav %}
<!-- Menu item: Home -->
<li>
  <a class="active" href="#" id="home">
    <span class="glyphicon glyphicon-home"></span>Home
  </a>
</li>

<!-- Logout -->
<div class="menu-bottom">
  <li>
    <a href="/logout/" class="link" id="logout">
      <span class="glyphicon glyphicon-log-out"></span>Logout
    </a>
  </li>
</div>
{% endblock %}

{% block main-content %}{% endblock %}

{% block extra-modal %}{% endblock %}
