{% extends 'presentation/base.html' %}

{% load static %}

{% block self-style %}
{% endblock %}

{% block self-script %}
{% endblock %}

{% block header %}Students{% endblock %}

{% block nav %}
<!-- Menu item: Home -->
<li>
  <a href="#" id="home">
    <span class="glyphicon glyphicon-home"></span>Home
  </a>
</li>

<!-- Menu item: Courses -->
<li>
  <a class="link" href="/{{ userID }}/courses" id="courses">
    <span class="glyphicon glyphicon-education"></span>Courses
  </a>
</li>

<!-- Menu item: Students -->
<li>
  <a class="active link" href="/{{ userID }}/students" id="students">
    <span class="glyphicon glyphicon-user"></span>Students
  </a>
</li>

<!-- Logout -->
<div class="menu-bottom">
  <li>
    <a href="/logout/" class="link" id="logout">
      <span class="glyphicon glyphicon-log-out"></span>Logout
    </a>
  </li>
</div>
{% endblock %}

{% block main-content %}
  {% if studentDict %}
    {% for courseName, studentList in studentDict.items %}
      <div>
        <h4 class="info-text page-header">{{ courseName }}</h4>
      </div>
      {% if studentList %}
        {% for student in studentList %}
          <a class="link" href="/{{ userID }}/student/?studentID={{ student.id }}">
            <div class="jumbotron student" id="{{ student.id }}">
              <p class="student-name">{{ student.name }}</p>
              <p class="student-desc">Risk: {{ student.risk }}</p>
              <div class="risk">{{ student.risk }}</div>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <div class="container-fluid centered text-center">
          <h3 class="info-text">
            No student in this course.
          </h3>
        </div>
      {% endif %}
    {% endfor %}
    <div class="scroll-over"></div>
  {% else %}
    <div class="container-fluid centered text-center">
      <h3 class="info-text jumbotron">
        There's no available analysis result yet.
      </h3>
    </div>
  {% endif %}
{% endblock %}

{% block extra-modal %}{% endblock %}
